.nav-nome {
    display: inline;
}
.label-nome {
    margin-top: 15px;
    font-size: 15px;
    color: #fff;
}

.topnav-navbar .topnav-logo {
    line-height: 48px !important;
    margin-left: -12px;
}