{% extends 'admin/base.html' %}
{% load i18n static suit_tags %}
{% load cache %}

{% block stylesheet %}{% static "suit/css/suit.css" %}{% endblock %}

{% block extrastyle %}
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Boostrap Toggle -->
    <link href="{% static 'external/css/bootstrap4-toggle.min.css' %}" rel="stylesheet">
    <!-- toast -->
    <link href="{% static 'hyper/css/toast.css' %}" rel="stylesheet"/>
    <!-- navbar -->
    <link href="{% static 'hyper/css/style.css' %}" rel="stylesheet"/>
    <!-- Baseadmin -->
    <link href="{% static 'hyper/css/base-admin.css' %}" rel="stylesheet"/>
    <!-- Nav -->
    <link href="{% static 'hyper/css/navbar.css' %}" rel="stylesheet"/>
    <!-- md icons -->
    <link href="{% static 'external/css/material.icons.css' %}" rel="stylesheet"/>
    <!-- Select2 -->
    <link href="{% static 'external/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <!-- Icons -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block bodyclass %}{{ block.super|suit_body_class:request }}{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    {% load navbar %}
    {% navbar_topo request %}
{% endblock %}

{% block pretitle %}
<div class="content-wrap">
    {% block messages %}
    {% include 'admin/messages.html' %}
    {% endblock messages %}
{% endblock %}




{% block sidebar %}
    </div> <!-- Close content-wrap -->
{% endblock %}

{% block usertools %}
{% endblock %}

{% block nav-global %}
{% include 'suit/menu.html' %}
{% endblock %}

{% block footer %}
    {% if not is_popup %}
        <div id="footer">
        <footer class="footer">
            <div class="container-fluid">
                {% block footer_content %}
                {% endblock %}
            </div>
        </footer>
    {% endif %}

    <script src="{% static 'suit/js/suit.js' %}"></script>

    <!-- Sweet Alert Customizado -->
    <script src="{% static 'hyper/js/alertas.js' %}"></script>
    <!-- Máscaras -->
    <script src="{% static 'external/js/jquery.mask.js' %}"></script>
    <!-- Sweet Alert -->
    <script src="{% static 'external/js/sweet.alert.js' %}"></script>
    <!-- Vendor e App -->
    <script src="{% static 'hyper/js/vendor.min.js' %}"></script>
    <script src="{% static 'hyper/js/app.min.js' %}"></script>
    <!-- Boostrap Toggle -->
    <script src="{% static 'external/js/bootstrap.toggle.js' %}"></script>
    <!-- Multiselect -->
    <script src="{% static 'external/js/bootstrap-select.min.js' %}"></script>
    <!-- jquery validate -->
    <script src="{% static 'hyper/js/jquery.validate.min.js' %}"></script>

    <script src="{% static 'hyper/js/utils.js' %}"></script>
            
    {% if adminform %}
        <script type="text/javascript">

            $( document ).ready(function() {
            Suit.$("#{{ opts.model_name }}_form").suitFormDebounce();

            {% if 'form_submit_on_right'|suit_conf:request %}
                Suit.FixedBar.init();
            {% endif %}

            {% if adminform.model_admin.suit_form_tabs %}
                Suit.$(function () {
                    Suit.$('#suit_form_tabs').suitFormTabs();
                });
            {% endif %}
            });
        </script>
    {% endif %}

{% endblock %}
