{% extends 'admin/base.html' %}
{% load i18n static suit_tags %}
{% load cache %}

{% block stylesheet %}{% static "suit/css/suit.css" %}{% endblock %}

{% block extrastyle %}
    <link href="{% static 'hyper/css/app.css' %}" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block bodyclass %}{{ block.super|suit_body_class:request }}{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    {% load navbar %}
    {% navbar_topo request %}
{% endblock %}

{% block pretitle %}
<div class="content-wrap">
{% endblock %}

{% block sidebar %}
    </div> <!-- Close content-wrap -->
{% endblock %}

{% block usertools %}
{% endblock %}

{% block nav-global %}
{% include 'suit/menu.html' %}
{% endblock %}

{% block footer %}
    {% if not is_popup %}
        <div id="footer">
        <footer class="footer">
            <div class="container-fluid">
                {% block footer_content %}
                {% endblock %}
            </div>
        </footer>
    {% endif %}
    <script src="{% static 'hyper/js/app.js' %}"></script>

    {% if adminform %}
        <script src="{% static 'hyper/js/popups.js' %}"></script>
        <script type="text/javascript">

            $( document ).ready(function() {
            $.fn.selectpicker.Constructor.DEFAULTS.noneSelectedText = 'Nenhum selecionado';
            $.fn.selectpicker.Constructor.DEFAULTS.deselectAllText = 'Desmarcar Todos';
            $.fn.selectpicker.Constructor.DEFAULTS.selectAllText = 'Marcar Todos';
            $.fn.selectpicker.Constructor.DEFAULTS.width = '400px';
            $.fn.selectpicker.Constructor.DEFAULTS.actionsBox = true;
            Suit.$("#{{ opts.model_name }}_form").suitFormDebounce();
            {% if 'form_submit_on_right'|suit_conf:request %}
                Suit.FixedBar.init();
            {% endif %}

            {% if adminform.model_admin.suit_form_tabs %}
                Suit.$(function () {
                    Suit.$('#suit_form_tabs').suitFormTabs();
                });
            {% endif %}
            });
        </script>
    {% endif %}

    {% block messages %}
    {% include 'admin/messages.html' %}
    {% endblock messages %}

    {% block javascript %}
    {% endblock %}
{% endblock %}